* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

img:not(.icon) {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

body {
  background: url('./img/bg4.jpg') no-repeat center/cover;
}

.header {
  height: 80px;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.page-title {
  font-size: 3rem;
}

.main-container {
  display: grid;
  gap: 40px;
  justify-content: center;
  padding: 30px 0;
}

.conf {
  display: flex;
  justify-content: center;
}

.conf > div {
  display: flex;
  gap: 20px;
}

.city {
  justify-self: end;
  position: relative;
}

.city label {
  font-size: 1.25rem;
}

.city input {
  color: black;
  padding: 10px 30px 10px 10px;
  outline: none;
  background-color: rgba(0, 0, 0, .1);
  border: none;
}

.search {
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  right: 5px;
  top: 2px;
}

.main-img {
  width: 150px;
  height: 150px;
}

.img {
  width: 60px;
  height: 60px;
}

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description, .day, .date {
  font-size: 1.5rem;
}

.description {
  margin-bottom: 50px;
}

.city-name, .temperature {
  font-size: 3rem;
}

.min-max {
  display: flex;
  gap: 80px;
  font-size: 2.25rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

.week-forecast {
  display: flex;
  gap: 50px;
  position: relative;
}

.week-forecast div:not(.temp) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.week-forecast::before {
  content: '';
  height: 1.25px;
  width: 110%;
  display: block;
  background-color: rgba(255, 255, 255, .2);
  position: absolute;
  left: -30px;
  top: -20px;
}

.icon {
  width: 80px;
  height: 80px;
}

.date {
  margin-top: 15px;
}

.temp {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.measurement {
  margin-bottom: 40px;
  padding-top: 8px;
}

.measurement p {
  cursor: pointer;
  font-size: 1.125rem;
}

.footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.c, .f {
  display: none;
}

.c.active, .f.active {
  display: block;
}

